FitOutputs/**
Preferences/**
SampleData/**
Copies/**
startup.m
finish.m
breakpoints.mat

*.Fdata

FitOutputsFit_Parameters_350_chi_Series_000_Profile_1.txt

*.mat
jmouseemu.m
*.txt

*.asv

*.asv

*.asv

+model/desktop.ini

**/*.html
